---

language: node_js
node_js:
  - node

env:
  global:
    - CC_TEST_REPORTER_ID=ed7bea0aafbd9aabc578e3657aeadb0a322feb419dc4651fa11e7240ebaf9bce

before_script:
  - curl -L https://codeclimate.com/downloads/test-reporter/test-reporter-latest-linux-amd64 > ./cc-test-reporter
  - chmod +x ./cc-test-reporter
  - ./cc-test-reporter before-build

script:
  - make lint
  - make test

after_script:
  - ./cc-test-reporter after-build --exit-code $TRAVIS_TEST_RESULT